Package: com.34306.hoyops
Name: HoYoPS (GI HSR)
Version: 1.0
Architecture: iphoneos-arm
Description: Connect to private servers for a certain anime game.
Maintainer: Little 34306
Author: 34306
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
